@import "~toastr";
@import "~nprogress/nprogress.css";
@import "~jquery-confirm/css/jquery-confirm.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";
@import "~@fortawesome/fontawesome-free/css/regular.min.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "../vendors/core.css";
@import "../vendors/theme-default.css";

body{
    background: #f4f6f9;
    a,button{
        text-decoration: none !important;
        &.menu-link{
            font-weight: 400;
        }
    }
    .table{
        thead th{
            vertical-align: middle;
            border-bottom: 2px solid #dee2e6;
            padding: 19px;
            background: #f0f8ff;
            border-width: 1px;
        }
        tbody tr, td{
            border-width: 1px;
        }
    }
    .page-login{
        height: 100vh;
        background: #8592a3;
        position: relative;
        .page-center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .form-control{
                background: #fff !important;
            }
        }
        .login-box{
            background-image: url('../images/bg-login.png');
        }
    }
    .bg-menu-theme{
        background: #f0f8ff !important;
    }
}
